@using COI.BL.Domain.Ideation
@using COI.BL.Domain.Organisation
@using COI.BL.Domain.Project
@using COI.UI.MVC.Helpers
@using COI.UI.MVC.Models
@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Project.Project>
@inject IOrganisationsHelper OrganisationHelper;
@inject IFieldHelper FieldHelper;
@{
    ViewData["Title"] = "Home";
    Organisation organisation = OrganisationHelper.GetOrganisation();
}

<section
    class="hero"
    style="background-image: url('@organisation.ImageLocation')"
>
    <div class="hero__container">
        <h1 class="hero__title mb-5">
            Geef jouw idee voor de toekomst van de haven
        </h1>
        <a asp-controller="Project" asp-action="Index" asp-route-orgId="@organisation.Identifier" class="btn btn--org hero__button">Geef jouw idee!</a>
    </div>
</section>

<!-- Content -->
<main class="content content--shadow container">
    <h1 class="mb-5">Open projecten</h1>

    <div class="card-list mb-4">
        @foreach (var project in Model)
        {
            <div class="card">
                <img src="@(FieldHelper.GetFirstOfType(project.Fields, FieldType.Picture).Content)" alt="" class="card-img-top"/>
                <div class="card-body">
                    <h2 class="card-title">@project.Title</h2>
                    <p class="card-text">
                        @foreach (var field in @project.Fields)
                        {
                            @if (field.FieldType.Equals(FieldType.Text))
                             {
                                 @field.Content
                             }
                        }
                    </p>
                </div>
                <div class="card-footer card-footer--invis">
                    <a asp-controller="Project" asp-action="Details" asp-route-orgId="@organisation.Identifier" asp-route-id="@project.ProjectId" class="btn btn--org">Geef jouw mening</a>
                </div>
            </div>
        }
    </div>
</main>
<!-- /Content -->