@model COI.BL.Domain.Questionnaire.OpenQuestion

<div class="form__field">
	<h2>@Model.Inquiry</h2>
	
	<textarea 
		id="@String.Format("openQuestion{0}", @Model.QuestionId)" 
		name="@String.Format("openQuestion{0}", @Model.QuestionId)" 
		class="textbox"
	></textarea>
</div>