@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Organisation.Organisation>
@{
    ViewBag.Title = "Organisatie";
    Layout = "_Layout";
}

<main class="content container">
    <h1 class="paginatitel paginatitel__bovenaan">Kies een organisatie</h1>

    <div class="card-list mb-4">
        @foreach (var organisation in Model)
        {
            <form asp-controller="Home" asp-action="SetOrganisation" asp-route-orgIdentifier="@organisation.Identifier" method="post" class="m-auto">
                <input class="circle" id="@organisation.Identifier" type="submit" value="@(organisation.Name.Substring(0, 1))" style="background-color: @organisation.Color"/>
                <div class="text-center">
                    <label for="@organisation.OrganisationId">@organisation.Name</label>
                </div>
            </form>
        }
    </div>
</main>

