@using COI.BL.Domain.Ideation
@using COI.BL.Domain.User
@using COI.UI.MVC.Helpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject IFieldHelper FieldHelper
@inject IOrganisationsHelper OrganisationsHelper;
@model COI.BL.Domain.Project.Project

@{
    ViewData["Title"] = Model.Title;
    var orgId = OrganisationsHelper.GetOrganisationIdentifier();
}

<section
    class="hero hero__project"
    style="background-image: url('@FieldHelper.GetFirstOfType(Model.Fields, FieldType.Picture).Content')"
>
    <div class="hero__container">
        <h1 class="hero__title">
            @Model.Title
        </h1>
    </div>
</section>
<div class="w-100 d-inline-flex">
    <div class="projectomschrijving">
        <div class="periodeDatum">
            @Model.StartDate.ToString("dd/MM/yyyy") - @Model.EndDate.ToString("dd/MM/yyyy")
        </div>
        @foreach (var field in Model.Fields)
        {
            @if (field.FieldType.Equals(FieldType.Text))
             {
                 @field.Content
             }
        }
    </div>
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
    {
        <div class="padding-t1rem createprojectphase">
            <a asp-controller="Project" asp-action="CreatePhase" asp-route-projectId="@Model.ProjectId" asp-route-orgId="@orgId" class="btn btn--org">Projectfase aanmaken</a>
        </div>
    }
</div>


<div id="accordion" class="inklapbaar_fase">
    @foreach (var projectPhase in Model.ProjectPhases)
    {
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="card-button">
                    <button
                        class="btn btn-link btn__witteAchtergrond btn__fase"
                        data-toggle="collapse"
                        data-target="@("#projectPhase" + projectPhase.ProjectPhaseId)"
                        aria-expanded="true"
                        aria-controls="@("projectPhase" + projectPhase.ProjectPhaseId)">
                        @projectPhase.Title
                    </button>
                    <span class="datumTot">Tot @projectPhase.EndDate.ToString("dd/MM/yyyy")</span>
                </div>
            </div>

            <div
                id="@("projectPhase" + projectPhase.ProjectPhaseId)"
                class="collapse @(projectPhase.EndDate > DateTime.Now && projectPhase.StartDate < DateTime.Now ? "show" : "")"
                aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="card-body">
                    @foreach (var ideation in projectPhase.Ideations)
                    {
                        <a asp-controller="Ideation" asp-action="Details" asp-route-orgId="@orgId" asp-route-id="@ideation.IdeationId" class="ideation">
                            <h2 class="pphase-child__title">
                                <i class="far fa-comment"></i> @ideation.Title
                            </h2>
                            <p class="pphase-child__text">
                                @FieldHelper.GetAllText(ideation.Fields)
                            </p>
                        </a>
                    }
                    
                    @foreach (var questionnaire in projectPhase.Questionnaires)
                    {
                        <a asp-controller="Questionnaire" asp-action="Details" asp-route-orgId="@orgId" asp-route-id="@questionnaire.QuestionnaireId" class="ideation">
                            <h2 class="pphase-child__title">
                                <i class="far fa-file-alt"></i> @questionnaire.Title
                            </h2>
                            <p class="pphase-child__text">
                                @questionnaire.Description
                            </p>
                        </a>
                    }
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
                    {
                        <a asp-controller="Ideation" asp-action="Create" asp-route-phaseId="@projectPhase.ProjectPhaseId" asp-route-orgId="@orgId" class="ideation">
                            <h2 class="pphase-child__title mb-3">
                                <i class="fas fa-plus-circle"></i> Voeg ideation toe
                            </h2>
                        </a>
                        <a asp-controller="Questionnaire" asp-action="Create" asp-route-phaseId="@projectPhase.ProjectPhaseId" asp-route-orgId="@orgId" class="ideation">
                            <h2 class="pphase-child__title mb-3">
                                <i class="fas fa-plus-circle"></i> Voeg vragenlijst toe
                            </h2>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
