@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Project.Project>
@using COI.BL.Domain.Ideation
@using COI.BL.Domain.User
@using COI.UI.MVC.Helpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject IFieldHelper FieldHelper;
@inject IOrganisationsHelper OrganisationsHelper;

@{
    ViewBag.Title = "Overzicht";
    Layout = "_Layout";
    var orgId = OrganisationsHelper.GetOrganisationIdentifier();
    var open = ViewBag.open;
    var showLimited = ViewBag.showLimited;
}
<main class="content content--shadow container">

    <div class="d-inline-flex w-100 ">
        <div class="form-group dd_project">
            <select name="dropdownFase" class="dd_project1" id="project_statedropdown">
                <option selected="@(!showLimited)" value="all" class="keuze">Alle projecten</option>
                <option selected="@(open && showLimited)" value="open" class="keuze">Open projecten</option>
                <option selected="@(!open && showLimited)" value="closed" class="keuze">Gesloten projecten</option>
            </select>
        </div>

        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
        {
            <div class="create-project__container">
                <a asp-controller="Project" asp-action="Create" asp-route-orgId="@orgId" class="btn btn--org create-project">Project aanmaken</a>
            </div>
        }
    </div>


    <div class="card-list mb-4">
        @foreach (var project in Model)
        {
            <div class="card">
                <img src="@FieldHelper.GetFirstOfType(project.Fields, FieldType.Picture).Content" alt="" class="card-img-top"/>
                <div class="card-body">
                    <h2 class="card-title">@project.Title</h2>
                    <p class="card-text">
                        @FieldHelper.GetAllText(project.Fields)
                    </p>
                </div>
                <div class="card-footer card-footer--invis">
                    <a asp-controller="Project" asp-action="Details" asp-route-orgId="@OrganisationsHelper.GetOrganisationIdentifier()" asp-route-id="@project.ProjectId" class="btn btn--org">Geef jouw mening</a>
                </div>
            </div>
        }
    </div>
</main>

@section Scripts
{
    <script type="text/javascript" src="/dist/project.entry.js" defer></script>
}
