@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Project.Project>
@using COI.BL.Domain.Ideation
@using COI.BL.Domain.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "Overzicht";
    Layout = "_Layout";
    var open = ViewBag.open;
    var showLimited = ViewBag.showLimited;
}
<main class="content content--shadow container">

    <div class="d-inline-flex w-100 ">
        <div class="form-group dd_project">
            <select name="dropdownFase" class="dd_project1" id="project_statedropdown">
                <option selected="@(!showLimited)" value="all" class="keuze">Alle projecten</option>
                <option selected="@(open && showLimited)" value="open" class="keuze">Open projecten</option>
                <option selected="@(!open && showLimited)" value="closed" class="keuze">Gesloten projecten</option>
            </select>
        </div>

        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
        {
            <div class="create-project__container">
                <a asp-controller="Project" asp-action="Create" class="btn btn--org create-project">Create project</a>
            </div>
        }
    </div>


    <div class="card-list mb-4">
        @foreach (var project in Model)
        {
            <div class="card">
                <img src="/img/pexels-photo-167676.jpeg" alt="" class="card-img-top"/>
                <div class="card-body">
                    <h2 class="card-title">@project.Title</h2>
                    <p class="card-text">
                        @foreach (var field in @project.Fields)
                        {
                            @if (field.FieldType.Equals(FieldType.Text))
                             {
                                 @field.Content
                             }
                        }
                    </p>
                </div>
                <div class="card-footer card-footer--invis">
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn--org">Geef jouw mening</a>
                </div>
            </div>
        }
    </div>
</main>

@section Scripts
{
    <script type="text/javascript" src="/dist/project.entry.js" defer></script>
}
