@using COI.BL.Domain.Questionnaire
@model COI.BL.Domain.Questionnaire.Questionnaire

@{
	ViewBag.Title = "Resultaten vragenlijst";
	Layout = "_Layout";
}

<!-- Content -->
<main class="content content--shadow container">

	<!-- Intro -->
	<article class="mt-3 page__intro">
		<h1>
			@Model.Title
		</h1>
		<p>
			@Model.Description
		</p>
	</article>
	<!-- /Intro -->
	
	<!-- Form -->
	<form class="form" id="questionnaireForm">
		@foreach (var question in @Model.Questions)
		{
			if (question is OpenQuestion)
			{
				<partial name="Partials/_OpenQuestionResultPartial" for="@question" />
			} else if (question is Choice)
			{
				<partial name="Partials/_MultipleChoiceResultPartial" for="@question" />
			}
			else
			{
				<p>Unsupported question type.</p>
			}
		}
	</form>
	
</main>

@section Scripts
{
	<script type="module" src="~/dist/questionnaires.entry.js" defer></script>
}

