@using COI.BL.Domain.Ideation
@using COI.BL.Domain.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* @model COI.BL.Domain.Ideation.Idea *@
@model COI.UI.MVC.Models.DTO.Ideation.IdeaDto

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<!-- Content -->
<main class="content content--shadow container">
	<!-- Idea -->
	<article class="page__intro mt-3">
        @Html.Partial("_Idea", Model)
        
        <div class="options-bar">
            <div 
                class="options-bar__option options-bar__option--vote"
                data-target="Idea"
                data-targetId="@Model.IdeaId"
                data-userVal="@Model.UserVoteValue"
                >
                <span class="options-bar__votes mr-2">@Model.VoteCount</span>
                <i class="voter outline material-icons mr-2" data-value="1">thumb_up</i>
                <i class="voter outline material-icons" data-value="-1">thumb_down</i>
            </div>
            <div class="options-bar__option">
                <i class="material-icons outline ml-4">share</i>
            </div>
        </div>
    </article>
    <!-- /Idea -->

    <!-- Comments -->
    <section class="comments mt-5 pt-4">
        <h1 class="comments__title pb-4">
            Reacties
        </h1>
		
        <div id="comments">
        </div>
    </section>
    <!-- /Comments -->
	
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Editor -->
        <form method="post" class="editor mt-10" id="ideaEditor">
            <h2 clas="mb-2">Schrijf een eigen reactie</h2>

            <div class="editor__text-container">
                <div class="editor__options">
                    <div class="editor__option editor__option--image">
                        <i class="material-icons">add_photo_alternate</i>
                        Foto toevoegen
                    </div>
                    @* <div class="editor__option editor__option--image"> *@
                    @*     <i class="material-icons">add_location</i> *@
                    @*     Locatie toevoegen *@
                    @* </div> *@
                    <div class="editor__option editor__option--video">
                        <i class="material-icons">video_call</i>
                        Video toevoegen
                    </div>
                </div>

                <textarea
                    name="text"
                    class="editor__text textbox"
                    placeholder="Schrijf een reactie"
                ></textarea>
            </div>

            <div class="editor__images"></div>
            <div class="editor__videos"></div>

            <input
                type="file"
                class="editor__file-upload editor__file-upload--image"
                accept="image/x-png,image/gif,image/jpeg"
            />
            <input
                type="file"
                class="editor__file-upload editor__file-upload--video"
            />

            <button type="submit" class="btn editor__submit mt-2">
                Reactie plaatsen
            </button>
        </form>
        <!-- /Editor -->
    }
    else
    {
        <!-- Log in -->
        <section class="editor mt-10">
            <h2>Schrijf een eigen reactie</h2>
            
            <button class="btn" data-toggle="modal" data-target="#LoginModal">Log in</button>
            <button class="btn" data-toggle="modal" data-target="#RegisterModal">Maak een account</button>
        </section>
        <!-- /Log in -->
    }

</main>
<!-- /Content -->


<!-- LightBox Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- /LightBox Modal -->









@section Scripts
{
    <script>
        const ideaId = @Model.IdeaId;
        const userId = '@(SignInManager.IsSignedIn(User) ? UserManager.GetUserId(User) : "-1")';
    </script>
    <script type="text/javascript" src="/dist/idea.entry.js" defer></script>
}
