@using COI.BL.Domain.User
@using COI.BL.Organisation
@using COI.BL.Project
@using COI.UI.MVC.Helpers
@using COI.UI.MVC.Models
@using COI.UI.MVC.Models.DTO.Organisation
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IProjectManager ProjectManager
@inject IOrganisationsHelper OrganisationHelper;

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=njo" />
    <title>@ViewData["Title"] - City of Ideas</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet" />
    <script type="module" src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">
</head>

<body>

@{
    NoRefOrganisationDto organisation = OrganisationHelper.GetOrganisationFromCookie();
    Console.WriteLine(organisation);
}

<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" id="organisation" asp-controller="Organisation" asp-action="Index" style="color: @organisation.Color !important;" >@organisation.Name</a>
    
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Project" asp-action="Index">Projecten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
            </li>
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Superadmin) || User.IsInRole(Roles.Moderator)))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Management" asp-action="Organisation">Manage</a>
                </li>
            }
        </ul>
        
        <partial name="_LoginPartial"/>
    </div>
</nav>
<!-- /HEADER -->
<partial name="_CookieConsentPartial"/>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content werk">
        <input class="search__input" type="text" placeholder="ZOEK" />
        <i class="fas fa-search zoekModal"></i>
    </div>
</div>
<!-- /Header -->

@RenderBody()



<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer__container container">
        <div class="site-footer__top-row">
            <!-- Footer-projects -->
            <div class="site-footer__projects">
                <h3 class="title--light">Projecten</h3>
                <ul>
                    @{
                        var footerProjects = ProjectManager.GetLastNProjects(3).ToList();
                    }
                    @foreach (var project in footerProjects)
                    {
                        <li><a href="">@project.Title</a></li>
                    }
                </ul>
            </div>
            <!-- /Footer-projects -->

            <!-- Footer-about -->
            <div class="site-footer__about ">
                <h3 class="title--light">Tree company</h3>
                The HSE Coordinator company has been providing its customers with
                safety, fire protection and RODO services since 2008
            </div>
            <!-- /Footer-about -->

            <!-- Footer-social-media -->
            <div class="site-footer__social-media">
                <h3 class="title--light">Follow us</h3>
                <a href="https://twitter.com/treecomp" class="text-decoration-none">
                    <i class="fab fa-twitter"></i>
                </a>
                <a
                    href="https://www.facebook.com/treecompany.be/"
                    class="text-decoration-none">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <!-- /Footer-social-media -->
        </div>

        <!-- Footer-terms -->
        <div class="site-footer__terms">
            <span>
                <a href="">Terms of Use</a>
            </span>
            <span>
                <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </span>
        </div>
        <!-- /Footer-terms -->

        <!-- Footer-copyright -->
        <div class="site-footer__copyright">
            <a href="">
                <div>&copy; 2019 The tree company.</div>
                <div>All rights reserved</div>
            </a>
        </div>
        <!-- /Footer-copyright -->
    </div>
</footer>
<!-- /Footer -->

@if (!SignInManager.IsSignedIn(User))
{
    <partial name="_AuthModals"/>
    
}


@* The following code is only used for Demo purposes *@
@* <div class="demo-helper" style="position: fixed; bottom: 50px; right: 50px;"> *@
@*     <div style="font-size: 50px; color: white; background-color: darkred; padding: 7px 45px 10px; font-weight: bold;"> *@
@*         @{ *@
@*             var userId = User.FindFirstValue(ClaimTypes.Name); *@
@*             var user = userId != null ? await UserManager.FindByEmailAsync(userId) : null; *@
@*             var role = user != null ? (await UserManager.GetRolesAsync(user))[0] : "Anonymous"; *@
@*         } *@
@*         @if (role != null) *@
@*         { *@
@*             @foreach (var single in role) *@
@*             { *@
@*                 @single *@
@*             } *@
@*         } *@
@*         else *@
@*         { *@
@*             <p>Test</p> *@
@*         } *@
@*     </div> *@
@* </div> *@

<script >
    const organisation = @Html.Raw(JsonConvert.SerializeObject(organisation));
</script>
@RenderSection("Scripts", required: false)
</body>
</html>