@page "/{orgId}/Account/TwoFactor"
@using COI.UI.MVC.Helpers
@model TwoFactorAuthenticationModel
@inject IOrganisationsHelper OrganisationsHelper
@{
    ViewData["Title"] = "Twee-factor authenticatie (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    var orgId = OrganisationsHelper.GetOrganisationIdentifier();
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4 class="padding-t1remM">@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>U heeft geen herstelcodes meer over.</strong>
            <p>U moet <a asp-page="./GenerateRecoveryCodes">een nieuwe set recovery codes genereren</a> voordat u kan inloggen met een recovery code.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>U heeft nog 1 herstelcode over.</strong>
            <p>U kan <a asp-page="./GenerateRecoveryCodes">een nieuwe set recovery codes genereren</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>U heeft @Model.RecoveryCodesLeft herstelcodes over.</strong>
            <p>U kan <a asp-page="./GenerateRecoveryCodes">een nieuwe set recovery codes genereren</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary btn__witteAchtergrond btn__links">Vergeet deze browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary btn__witteAchtergrond btn__links">Disable 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary btn__witteAchtergrond btn__links">Herstel codes resetten</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" href="@("/" + orgId + "/Account/EnableAuthenticator")"  class="btn btn-primary btn__witteAchtergrond btn__links">Authenticator app toevoegen</a>
}
else
{
    <a id="enable-authenticator" href="@("/" + orgId + "/Account/EnableAuthenticator")"  class="btn btn-primary btn__witteAchtergrond btn__links">Authenticator app instellen</a>
    <a id="reset-authenticator" href="@("/" + orgId + "/Account/ResetAuthenticator")"  class="btn btn-primary btn__witteAchtergrond btn__links">Authenticator app resetten</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}