@using COI.BL.Domain.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model COI.BL.Domain.Project.Project


@{
	ViewBag.Title = @Model.Title;
	Layout = "_Layout";
}

<main>    
    <section
        class="hero"
        style="background-image: url('/img/pexels-photo-167676.jpeg')"
    >
        <div class="hero__container">
            <h1 class="hero__title projectTitle">
                @Model.Title
            </h1>
            <a href="#" class="btn btn--org hero__button">Geef jouw idee!</a>
        </div>
    </section>

    <div class="projectomschrijving">
        <div class="periodeDatum">
            @Model.StartDate - @Model.EndDate
        </div>
        <div>
            @Model.Description
        </div>
    </div>

    <div id="accordion" class="inklapbaar_fase">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <div>
                        <button
                            class="btn btn-link btn__witteAchtergrond btn__fase"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            Fase 2 @Model.Title
                        </button>
                        <span class="datumTot">Tot @Model.EndDate</span>
                    </div>
                </h5>
            </div>

            <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordion"
            >
                <div class="card-body">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <div>
                        <button
                            class="btn btn-link btn__witteAchtergrond btn__fase"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            Fase 1 @Model.Title
                        </button>
                        <span class="datumTot">Tot @Model.EndDate</span>
                    </div>
                </h5>
            </div>
            <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
            >
                <div class="card-body">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <div>
                        <button
                            class="btn btn-link btn__witteAchtergrond btn__fase"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            Fase 0 @Model.Title
                        </button>
                        <span class="datumTot">Tot @Model.EndDate</span>
                    </div>
                </h5>
            </div>
            <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
            >
                <div class="card-body">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>
</main>